<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Items</key>
	<array>
		<dict>
			<key>Name</key>
			<string>Messages</string>
			<key>level</key>
			<integer>0</integer>
			<key>id</key>
			<string>getquote</string>
			<key>image</key>
			<string>home_menu</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Invitations</string>
			<key>level</key>
			<integer>0</integer>
			<key>id</key>
			<string>home</string>
			<key>image</key>
			<string>home_menu</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Companies</string>
			<key>level</key>
			<integer>0</integer>
			<key>id</key>
			<string>equity</string>
			<key>image</key>
			<string>home_menu</string>
			<key>SubItems</key>
			<array>
				<dict>
					<key>Name</key>
					<string>Favorites</string>
					<key>level</key>
					<integer>1</integer>
					<key>id</key>
					<string>indices</string>
					<key>image</key>
					<string>home_menu</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>Applied</string>
					<key>level</key>
					<integer>1</integer>
					<key>id</key>
					<string>gainers</string>
					<key>image</key>
					<string>home_menu</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>In Progress</string>
					<key>level</key>
					<integer>1</integer>
					<key>id</key>
					<string>losers</string>
					<key>image</key>
					<string>home_menu</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>News</string>
					<key>level</key>
					<integer>1</integer>
					<key>id</key>
					<string>turnover</string>
					<key>image</key>
					<string>home_menu</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>Name</key>
			<string>Jobs</string>
			<key>level</key>
			<integer>0</integer>
			<key>id</key>
			<string>sme</string>
			<key>image</key>
			<string>home_menu</string>
			<key>SubItems</key>
			<array>
				<dict>
					<key>Name</key>
					<string>Starred</string>
					<key>level</key>
					<integer>1</integer>
					<key>id</key>
					<string>sme_marketwatch</string>
					<key>image</key>
					<string>home_menu</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>Applied</string>
					<key>level</key>
					<integer>1</integer>
					<key>id</key>
					<string>sme_marketstats</string>
					<key>image</key>
					<string>home_menu</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>Name</key>
			<string>People you may know</string>
			<key>level</key>
			<string>0</string>
			<key>id</key>
			<string>aboutus</string>
			<key>image</key>
			<string>home_menu</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Settings</string>
			<key>level</key>
			<string>0</string>
			<key>id</key>
			<string>settings</string>
			<key>image</key>
			<string>home_menu</string>
		</dict>
	</array>
</dict>
</plist>
